rule(mycolor: red) {
  color: mycolor;
  background: mycolor;
}

border(@radius: 5px) {
  border-radius: @radius;
  /*
     asdascdasa
     */
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

div { //asdasdasscs
  border(2px);
}

h1 {
  rule;
}

h2 {
  border;
  rule(blue);
}
