#header {
  color: #222;
  font: bold 20px "雅黑";
  button > div  {
    background: #ccc;
  }
  &:hover {
    color: red;
  }
  background: #333;
}

#footer > div{
  font-size: 2em;
  width: @test;
  span {
    color: #999;
  }
}

.box + p{
  font-weight: bold;
}
